<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<!--Bootstrap Tools-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<!--===================-->
		<title>ISAT Internship Portal</title>
		<link rel="stylesheet" type="text/css" href="../css/ISATBaseNavBar.css" media="screen"/>
		<link rel="stylesheet" type="text/css" href="../css/accountStudentcss.css" media="screen"/>
	</head>
	
	<body>
			<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="ISATPh.html"><!--LINK--><img src="https://siu.edu/_assets/images/siu-logo.png" width="120" 
						height="120"alt="HoeIcon"></a>
				</div>
				<p class="navtext" id="usertext">Welcome User<!--TEXT--></p>
				<div class="container col-lg-1 col-md-1 col-sm-1 col-xs-2"></div>
					<!-- <div class="container col-lg-1 col-md-1 col-sm-1 col-xs-2">
						<ul class="nav navbar-nav">
							<li><button class="btn btn-outline-primary" type="button" onClick="window.location.href='../student/signin.ejs'"/>Login or Sign Up!</li>
						</ul>
					</div> -->
				<div class="container col-lg-1 col-md-1 col-sm-1 col-xs-2"></div>
				<ul class="nav navbar-right">
					<li class="col-sm-3 searchbox">
						<form class="form-inline mr-auto">
							<div class="md-form mt-0">
								<input class="form-control" type="text" placeholder="Search" aria-label="Search"><!--SEARCH-->
								<i class="fa fa-search text-white ml-3" aria-hidden="true"></i>
							</div>
						</form>
					</li>
				</ul>
			</div>
			<h1 class="text-center" id="pagetext">Account</h1>
			
			<div class="text-center" id="navtopbuttons">
				<div class="btn-group" role="group" aria-label="Basic example">
				  <button type="button" class="btn btn-primary btn-lg" onclick =" window.location.href= '/portal'">Portal</button><!--BUTTON-->
				  <button type="button" class="btn btn-primary btn-lg" onclick="window.location.href = '/home'" >Account</button><!--BUTTON-->
				  <button type="button" class="btn btn-primary btn-lg"  onclick="window.location.href='/student/searchScholarships'">Scholarship</button><!--BUTTON-->
				  <button type="button" class="btn btn-primary btn-lg" onclick="window.location.href= '/student/searchInternship'">Internship</button><!--BUTTON-->
				</div>
			</div>
		</nav>
	
		<div class="container col-lg-2 col-md-2 col-sm-2"></div>
		<div class="container-fluid col-lg-5 col-md-3 col-sm-2"> 
							<h3>Your Personal Information</h3>
				<ul class="listorder">
					
					<form action="/editProfile" id="updateProfile" method="POST">
						<span class="loadNum">5566</span>
						<br />
						<span class="loadNum">5566</span>
						<li><p>Dawg Tag:</p></li>
						<div class="form-group">
							<label class="labels" for="firstName">First Name: </label><br>
							<span class="editable" type="test" id="firstName"><%= firstName %></span>
						</div>
						<div class="form-group">
							<label class="labels" for="lastName">Last Name: </label><br>
							<span class="editable" type="text" id="lastName"><%= lastName %></span>
						</div>
						<div class="form-group">
							<label class="labels" for="phone">Phone: </label><br>
							<span class="editable" type="text" id="phone" pattern="\d{3}[\-]\d{3}[\-]\d{4}"><%= phone %></span>
						</div>
						<div class="form-group">
							<label class="labels" for="email">Email: </label><br>
							<span class="editable" type="email" id="email" pattern="[a-z0-9._%+-]+@siu.edu$"><%= email %></span>
						</div>
						<div class="form-group">
							<label class="labels" for="address">Address: </label><br>
							<span class="editable" type="text" id="address"><%= address %></span>
						</div>
						<div class="form-group">
							<label class="labels" for="gradYear">Graduation Year: </label><br>
							<span class="editable" type="number" id="gradYear"><%= gradYear %></span>
						</div>
						<div class="form-group">
							<label class="labels" for="city">City: </label><br>
							<span class="editable" type="text" id="city" ><%= city %></span>
						</div>
						<div class="form-group">
							<label class="labels" for="state">State: </label><br>
							<span class="editable" type="text" id="state"><%= state %></span>
						</div>
						<div class="form-group">
							<label class="labels" for="gpa">GPA: </label><br>
							<span class="editable" type="text" id="gpa"><%= gpa %></span>
						</div>
						<div class="form-group">
							<label class="labels" for="state">Industry: </label><br>
							<span class="editable" type="text" id="city"><%= industry %></span>
						</div>
						<div class="form-group">
							<label class="labels" for="birthdate">State: </label><br>
							<span class="editable" type="date" id="birthdate"><%= birthdate %></span>
						</div>
						<li><p>Security Questions: <%= securityQuestion %></p></li>
						<button type="submit" value="Submit" >submit</button>
					</form>
						
				</ul>
				<script>
						var switchToInput = function () {
							console.log("goo")
							var $input = $("<input>", {
								val: $(this).text(),
								id: $(this).attr("id"),
								type: "text"
							});
							$input.addClass("editable");
							$input.addClass("form-control");
							$input.attr('id');
							$(this).replaceWith($input);
						};
						var switchToSpan = function () {
							var $span = $("<span>", {
								text: $(this).val()
							});
							$span.addClass("editable");
							$(this).replaceWith($span);
							$span.on("click", switchToInput);
						}
						console.log("PRO")
						$(".editable").on("click", switchToInput);

						$('updateProfile').on('submit', function(e) {
        				e.preventDefault();
       					$.post('/editProfile', $(this).serialize());
						});

				</script>
				<div class="row"><p></p></div>
			</div>
		</div>
		<div class="container col-lg-2 col-md-2 col-sm-2"></div>
		<div class="container-fluid col-lg-5 col-md-3 col-sm-2">
			<div>
				<h3>Completed Internship Application</h3>
				<div name="Completed Interships">	
					<select >
						<option>Completed Internships</option><!--FIELD--> 
					</select>
				</div>
				<div class="row"><p></p></div>
				<div name="Resume">	
				<label>Resume(s):</label>
					<select >
						<option>Resume</option><!--FIELD-->  
					</select>
					<form action="/home" method="post">
					<label for="file">Choose file to upload</label>
					<input type="file" id="file" name="file" multiple>
					<button type="submit" class="btn">upload</button>
					</form>	
				</div>
				<div class="row"><p></p></div>
				<div name="SocialMedia">
					<p>Link new social media account</p>
							<input type="text" name="SocialMedia"><!--TEXTFIELD-->
							<button type="LinkSocial" class="btn btn-outline-primary" >Link Account</button><!--BUTTON-->

					<h3>Your Connected Social Media Accounts</h3>
					<div class="socialdiv">
					  <ul>
						<li><!--SOCIAL-->FAC-E-BOOK</li>
						<li><!--SOCIAL--></li>
						<li><!--SOCIAL--></li>
						<li><!--SOCIAL--></li>
						<li><!--SOCIAL--></li>
						<li><!--SOCIAL--></li>
					  </ul>
					</div>
				</div>
			</div>	
		</div>
		<div class="container col-lg-2 col-md-2 col-sm-2"></div>
			
		<footer class="footer">
			<span>&copy; 2018 SIU IST 412</span>
		</footer>
	</body>
</html>
